<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ng-container *ngFor="let item of mangGhe;let index = index">
        <app-chair-bus [chair]="item" (isBookOut)="chairBooked($event)"></app-chair-bus>
        <br *ngIf="(index+1)%4===0">
      </ng-container>
    </div>
    <div class="col-sm-6">
      <h3 style="color: orange">Chair booking</h3>
      <div class="container" *ngFor="let item of mangGheDangDat;let index=index">
        Ghe: {{item.SoGhe}} {{item.Gia}} $ 
        <span style="color: red" (click)="deleteBookChair(index,item)">[Delete]</span>
      </div>
    </div>
  </div>
</div>

